version: "3.9"

services:
  api:
    build: .
    container_name: ticketmania_api
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - redis

  redis:
    image: redis:latest
    container_name: ticketmania_redis
    ports:
      - "6379:6379"
